<link rel="stylesheet" type="text/css" href="/css/produto.css">

<div class="modal" ng-class="{'is-active':exibirModal}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Interessados</p>
            <button ng-click="exibirModal = false" class="delete"></button>
        </header>
        <section class="modal-card-body">
            <ul>
                <div class="box trending metade">
                    <p class="trend-title"></p>
                    <div class="box trending">
                        <p class="trend-hashtag">
                            <span><i class="fa fa-user"></i> &nbsp; &nbsp;Fulano.</span> 
                            <a class="button is-small is-primary" ng-click="exibirModal = true"> &nbsp; &nbsp; Vender</a>
                        </p>
                    </div>
                    <div class="box trending">
                        <p class="trend-hashtag">
                            <span><i class="fa fa-user"></i> &nbsp; &nbsp;Fulano.</span> 
                            <a class="button is-small is-primary" ng-click="exibirModal = true"> &nbsp; &nbsp; Vender</a>
                        </p>
                    </div> 
                    <div class="box trending">
                        <p class="trend-hashtag">
                            <span><i class="fa fa-user"></i> &nbsp; &nbsp;Fulano.</span> 
                            <a class="button is-small is-primary" ng-click="exibirModal = true"> &nbsp; &nbsp; Vender</a>
                        </p>
                    </div>
                </div>
            </ul>
        </section>
    </div>
</div>

<nav class="nav is-mobile has-shadow" ng-include="'/models/navbarItems.htm'">
</nav>
<div class="section product-header">
    <div class="container">
        <div class="columns">
            <div class="column">
                <span class="title is-3">{{anuncioEspecifico.Titulo}}</span>
                <span class="title is-3 has-text-muted">&nbsp;|&nbsp;</span>
                <span class="title is-4 has-text-muted">Produto</span>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <div>
                    <img ng-if="anuncioEspecifico.Foto1 != null" class="imagemProduto" style="max-height:430px;width:512px;" src="{{anuncioEspecifico.Foto1}}">


                    <img ng-if="anuncioEspecifico.Foto2 != null" class="imagemProduto" style="max-height:256px;max-width:256px;" src="{{anuncioEspecifico.Foto2}}">


                    <img ng-if="anuncioEspecifico.Foto3 != null"class="imagemProduto" style="max-height:256px;max-width:256px;" src="{{anuncioEspecifico.Foto3}}">
                </div>

            </div>
            <div class="column is-5 is-offset-1">
                <div class="title is-2">{{anuncioEspecifico.Titulo}}</div>
                <p class="title is-3 has-text-muted">R$ {{anuncioEspecifico.Valor}}</p>
                <div ng-bind-html="anuncioEspecifico.Descricao | markdown">

                </div>
                <br>
                <br>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="has-text-right">
                                <strong>Vendedor</strong>
                            </td>
                            <td>{{anuncioEspecifico.NomeCriador}}</td>
                        </tr>
                        <tr>
                            <td class="has-text-right">
                                <strong>Interessados</strong>
                            </td>
                            <td>{{anuncioEspecifico.Interessados.Count || 0}}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="">
                    <a class="button is-primary is-small"> <i class="fa fa-money interessado"> &nbsp; &nbsp;</i> Manifestar Interesse</a>
                    <a class="button is-primary is-small" ng-click="exibirModal = true"> <i class="fa fa-plus interessado"> &nbsp; &nbsp;</i> Mostrar Interessados</a>
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="tabs">
            <ul>
                <li><a>Comentários</a></li>
            </ul>
        </div>
        <div  class="box">
            <article ng-repeat="comentario in anuncioEspecifico.Comentarios" class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{comentario.Usuario.Nome}}</strong> <small>{{comentario.Usuario.Email}}</small>
                            <br>
                        </p>
                        <div ng-bind-html="comentario.Texto | markdown">

                        </div>


                    </div>
                </div>
            </article>
        </div>
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea" ng-model="produto.Comentario" placeholder="Adicionar um comentário"> 
                            </textarea>
                        </p>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <a class="button is-info" ng-disabled="produto.Comentario == null || produto.Comentario == ''">Comentar</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
</div>

