<nav class="nav is-mobile has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item is-tab is-active" href="#!/feed"><i class="fa fa-home"></i> &nbsp; Feed</a>
            <a class="nav-item is-tab" href="#!/editar"><i class="fa fa-bars "></i> &nbsp; Meus anúncios</a>
            <a class="nav-item is-tab" ng-click="logout()"> &nbsp; <i class="fa fa-hand-peace-o"></i> &nbsp; Logout</a>
            <a class="nav-item is-hidden-tablet button is-success novoPostMobile" href="#!/newPost" >
                    <span class="icon">
                        <i class="fa fa-handshake-o"></i>
                    </span>
                    <span> &nbsp; Novo anúncio</span>
                </a>
        </div>

        <div class="nav-right nav-menu ajustarDireita">
            <span class="nav-item">
                <a class="button is-success novoPostTablet" href="#!/newPost" >
                    <span class="icon">
                        <i class="fa fa-handshake-o"></i>
                    </span>
                    <span> &nbsp; Novo anúncio</span>
                </a>
            </span>
        </div>
    </div>
</nav>
<section class="section main">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
               <div class="card is-fullwidth">
                    <header class="card-header">
                    </header>
                    <div class="card-content">
                   

                        <div class="card-user"  ng-click="habilitarBusca = !habilitarBusca">
                            <div class="card-user-name">
                                   <i class="fa fa-search-minus"></i><span class="title is-5"> &nbsp;Busca</span>
                               <br>
                            </div>
                        </div>

                        <div class="card-stats">
                            <ul class="card-stats-list">
                              
                                <li class="card-stats-item">
                                   
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
               
                <div class="box trending" ng-if="habilitarBusca">
              <p class="trend-title"></p>
                      <label class="label">Por nome</label>
              <p class="control inputBusca">
                <input class="input" ng-model="busca.nome" type="text" placeholder="Churras do nunes.">
              </p>
             
                
                 
             <label class="checkbox checkboxBusca">
      <input type="checkbox" ng-model="busca.anuncios">
              Anúncios
        </label>
            <br>
             <label class="checkbox checkboxBusca">
      <input type="checkbox"  ng-model="busca.eventos">
              Eventos
             </label>
             <br>
              <label class="checkbox checkboxBusca">
      <input type="checkbox" ng-model="busca.vaquinhas">
              Vaquinhas
              </label>
              
               <div class="spacer"></div>
                <p class="control">
                    <a class="button is-success is-normal botaoBusca" ng-click="buscar(busca)" >
                    <span class="icon">
                        <i class="fa fa-search-minus"></i>
                    </span>
                    <span> &nbsp; Buscar</span>
                    </a>
               </p>
               
            
              </div>
               
                <div class="card is-fullwidth">
                    <header class="card-header">
                    </header>
                    <div class="card-content">
                   

                        <div class="card-user"  ng-click="habilitarNotificacoes = !habilitarNotificacoes">
                            <div class="card-user-name">
                                   <i class="fa fa-bell novas"></i><span class="title is-5"> &nbsp;Notificações</span>
                               <br>
                            </div>
                        </div>

                        <div class="card-stats">
                            <ul class="card-stats-list">
                              
                                <li class="card-stats-item">
                                   
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="box trending" ng-if="habilitarNotificacoes">
              <p class="trend-title"></p>
                      <div class="box trending">
                  <p class="trend-hashtag">
                
                   Fulano comentou seu evento.
                </p>
                </div>
                 <div class="box trending">
                <p class="trend-hashtag">
                   Fulano doou para  sua vaquinha.
                </p>
                </div>
                 <div class="box trending">
                <p class="trend-hashtag">
                   Fulano está interessado em seu produto.
                </p>
                </div>
            
              </div>
            
      
               
            </div> 
            
           <div class="columns is-multiline offset">
            <div class="column is-half">
        <div class="card">
          <header class="card-header">
            <span class="card-header-icon timestamp">
              <i class="fa fa-calendar"> Churras Illuminati </i>
            </span>
           
          </header>
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://www.meliuz.com.br/blog/wp-content/uploads/2017/01/costela-assada.png" alt="Image">
            </figure>
          </div>
          <div class="card-content footerOffset">
            <div class="panel-block-item">
              <span class="likes">
                <span class="icon">
                  <i class="fa fa-check-circle confirmado "></i>
                </span>
                303k
              </span>
              <span class="comments">
                <span class="icon">
                  <i class="fa fa-comment"></i>
                </span>
                12k
              </span>
              <span class="comments">
                      <span class="icon">
                      <i class="fa  fa-user-circle"></i> 
                      </span>
                       André
              </span>
            </div>
          </div>
        </div>
      </div>
       
         <div class="column is-half">
        <div class="card">
           <header class="card-header">
            <span class="card-header-icon timestamp">
              <i class="fa fa-money"> Ajudar o Maluco que tá doente </i>
            </span>
          </header>
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://birl-language.github.io/images/birl2.png" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="panel-block-item">
              <span class="likes">
                <span class="icon">
                  <i class="fa fa-plus-circle"></i>
                </span>
                &nbsp; Apoiar
              </span>
              <span class="comments">
                <span class="icon">
                  <i class="fa fa-comment"></i>
                </span>
                12k
              </span>
              <span class="comments">
                      <span class="icon">
                      <i class="fa  fa-user-circle"></i> 
                      </span>
                       André
             </span>
            </div>
          </div>
        </div>
      </div>

        <div class="column is-half">
        <div class="card">
          <header class="card-header">
            <span class="card-header-icon timestamp">
              <i class="fa fa-cart-arrow-down">  Churrasquera Controle Remoto </i>
            </span>
          </header>
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://cache2.allpostersimages.com/p/LRG/37/3790/38EIF00Z/posters/fireball-of-h-bomb-explosion-after-test-blast-over-bikini-atoll.jpg" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="panel-block-item">
             <span class="likes">
               
               <span class="icon">
                   <i class="fa fa-money interessado">
                   </i> 
               </span>
                <span class="confirmado" > &nbsp; R$ 4,55 </span>
                </span>
              <span class="likes">
              &nbsp; &nbsp; 
                <span class="icon">
                  <i class="fa fa-cart-plus interessado"></i>
                </span>
            
              </span>
              <span class="comments">
                <span class="icon">
                  <i class="fa fa-comment"></i>
                </span>
                12k
              </span>
                  <span class="comments">
                      <span class="icon">
                      <i class="fa  fa-user-circle"></i> 
                      </span>
                       André
                  </span>
            </div>
          </div>
        </div>
      </div>
       
       
</div>

        </div>
    </div>
</section>