<nav class="nav nav-menu is-active has-shadow" ng-include="'/models/navbarItems.htm'">
</nav>
<section class="section main">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third-desktop is-full-mobile show-xs">
                <div ng-include="'/models/barraDeBusca.htm'"></div>
                <div ng-include="'/models/barraDeNotificacoes.htm'"></div>
                <div ng-include="'/models/barraNovoPost.htm'"></div>
            </div> 
        </div>

        <div class="columns  hidden-xs">
            <div class="column  is-full is-one-third-desktop " ng-include="'/models/barraDeBusca.htm'"></div>
            <div class="column is-full is-one-third-desktop " ng-include="'/models/barraDeNotificacoes.htm'"></div>
            <div class="column is-full is-one-third-desktop "  ng-include="'/models/barraNovoPost.htm'"></div>
        </div>
        <div class="columns  is-multiline  offset">
            <div ng-repeat="anuncio in anuncios" class="column is-full  is-one-third-desktop"> 
                <div ng-if="anuncio.TipoAnuncio == 'Evento'" ng-include="'/models/cardEvento.htm'"></div>
                <div  ng-if="anuncio.TipoAnuncio == 'Vaquinha'" ng-include="'/models/cardVaquinha.htm'"></div>
                <div ng-if="anuncio.TipoAnuncio == 'Produto'"ng-include="'/models/cardAnuncio.htm'"></div>
            </div>
        </div>
        <div class="columns is-multiline offset">
        <div ng-if="habilitarBuscarMais" ng-click="carregarMais()" class="column is-full">
           <div class="card"  style="text-align:center; height:5vh;">
            <a><span>Carregar Mais</span></a>
            </div>
        </div>
    </div>
    </div>
</section>
    
