

        <div class="login-wrapper columns">
            <div class="column is-8 is-hidden-mobile hero-banner">
                <section class="hero is-fullheight is-dark">
                    <div class="hero-body">
                        <div class="container section">
                            <div class="has-text-right">
                                <h1 class="title is-1">Entrar</h1> <br>
                                <p class="title is-3">Insira suas credenciais</p>
                            </div>
                        </div>
                    </div>
                    <div class="hero-footer">
                        <p class="has-text-centered"> </p>
                    </div>
                </section>  
            </div>
            <div class="column is-4">
                <section class="hero is-fullheight">
                    <div class="hero-heading">
                       
                    </div>
                    <div class="hero-body">
                        <div class="container">
                            <div class="columns">
                                <div class="column is-8 is-offset-2">
                                    <h1 class="avatar has-text-centered section">
                                        <img src="login-avatar.png">
                                    </h1>
                                    <div class="login-form">
                                        <p class="control has-icon has-icon-right">
                                            <input class="input email-input" type="text" ng-model="usuario.email" placeholder="Insira seu email">
                                            <span class="icon user">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        </p>
                                        <p class="control has-icon has-icon-right">
                                            <input class="input password-input" ng-model="usuario.senha" type="password" placeholder="Insira sua senha">
                                            <span class="icon user">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </p>
                                        <p class="control login">
                                            <button ng-click="login()" ng-disabled="usuario.email == null || usuario.senha == null" class="button is-success  is-outlined is-large is-fullwidth">Login</button>
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>  
            </div>
        </div>
