<section class=" postHero hero is-fullheight is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
       
          <div class="column is-10 is-offset-1">
               
             <a class="button novoPost is-success" href="#!/newPost" > Novo Anúncio </a>
         
      
             <a class=" button novoPost is-success" href="#!/newPost" > Novo Evento </a>
                  
             <a class="button novoPost is-success" href="#!/newPost" > Nova Vaquinha </a>
              <label class="label">Titulo</label>
              <p class="control">
                <input class="input" ng-model="postagem.titulo" type="text" placeholder="John Smith">
              </p>
              <label class="label">Descricao</label>
              <p class="control">
                <input class="input" ng-model="postagem.descricao" type="textarea" placeholder="jsmith">
              </p>
              <label class="label">Email</label>
              <p class="control">
                <input class="input" type="text" placeholder="jsmith@example.org">
              </p>
              
              <hr>
              <label class="label">Password</label>
              <p class="control">
                <input class="input" type="password" placeholder="●●●●●●●">
              </p>
              <label class="label">Confirm Password</label>
              <p class="control">
                <input class="input" type="password" placeholder="●●●●●●●">
              </p>
              <hr>
              <p class="control">
                <button class="button is-primary">Register</button>
                <button class="button is-default">Cancel</button>
              </p>
            </div>
            
          </div>
        </div>
      </div>
  
  </section>
  
   <div class="container" ng-bind-html="postagem.titulo | markdown"></div>
   <div class="container" ng-bind-html="postagem.descricao | markdown"></div>