
.fa-bell.novas{
    
    color:#b3c10f;
}
.confirmado{
    color:#0fc11d;   
}

.interessado{
    color:#0fc11d;
}
.apoiado{
    color:#0fc11d;
}
.offset{
    position:relative;
    top:12px
}
.novoPostMobile{
    position:relative;
    top:8px;
    left:142px;
}
.novoPostTablet{
position:
    position:relative;
    right:1%;
}
.ajustarDireita{
    margin-right:-28px;
}

.footerOffset{
    position:relative;
    right:-5%;
}
.offsetUserIcon{
    position:absolute;
    top:38%;
}
.botaoBusca{
    width:100%;
    margin-top:20px;
}
.inputBusca{
    margin-bottom:20px;
}
.metade{
    position:relative;
    text-align:center;
}