
.fa-bell.novas{

    color:#b3c10f;
}
.confirmado{
    color:#0fc11d;   
}

.interessado{
    color:#0fc11d;
}
.apoiado{
    color:#0fc11d;
}
.offset{
    position:relative;
    top:12px
}
.novoPostMobile{
    position:relative;
    top:8px;
    left:142px;
}
.novoPostTablet{
    position:
        position:relative;
    right:1%;
}
.ajustarDireita{
    margin-right:-28px;
}

.nav-item a:not(.button).is-tab.is-active, a.nav-item:not(.button).is-tab.is-active {
    border-bottom: 3px solid #21f50f;
    color: #21f50f;
    padding-bottom: calc(.75rem - 3px);
}

.nav-item a:not(.button).is-tab:hover, a.nav-item:not(.button).is-tab:hover {
    border-bottom-color: #21f50f;
    border-top-color: transparent;
}

a{
    color: #21f50f;
}
.footerOffset{
    position:relative;
    right:-5%;
}
.offsetUserIcon{
    position:absolute;
    top:38%;
}
.botaoBusca{
    width:100%;
    margin-top:20px;
}
.inputBusca{
    margin-bottom:20px;
}
.metade{
    position:relative;
    text-align:center;
}
@media screen and (max-width: 767px) {
    .hidden-xs {
        display:none;
    }
}

@media screen and (min-width: 768px) {
    .show-xs {
        display:none;
    }
}