
.has-text-muted {
  color: #95A5A6;
}

.panel-block-item {
  display: inline-block;
  color: #95A5A6;
  font-weight: bold;
  padding: 0 10px;
}
.cart-icon {
  padding-top:10px;
}
.product-header {
  background-color:#fafafa;
}
.imagemProduto{
    position:relative;
    height:17%;
}
