<div class="card is-fullwidth">
    <header class="card-header">
    </header>
    <div class="card-content">
        <div class="card-user"  ng-click="habilitarNotificacoes = !habilitarNotificacoes">
            <div class="card-user-name metade">
                <i ng-class="{'novas':notificacoes.length > 0}" class="fa fa-bell"></i><span class="title is-5"> &nbsp;Notificações</span>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="box trending metade" ng-if="habilitarNotificacoes">
    <p class="trend-title"></p>
    <div  ng-repeat="notificacao in notificacoes" class="box trending">
        <p class="trend-hashtag">
            <a href="{{notificacao.link}}" ng-click="marcarComoLida(notificacao)"><span>{{notificacao.texto}}</span></a>
        </p>
    </div>
</div>