<nav class="nav is-mobile has-shadow" ng-include="'/models/navbarItems.htm'">
</nav>

<div class="modal" ng-class="{'is-active':exibirModal}">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Confirmados</p>
            <button ng-click="esconderAModal()" class="delete"></button>
        </header>
        <section class="modal-card-body">
            <ul>
                <div class="box trending metade">
                    <p class="trend-title"></p>
                    <div ng-repeat="confirmado in anuncioEspecifico.Confirmados" class="box trending">
                        <p class="trend-hashtag">
                            <span><i class="fa fa-user"></i> &nbsp; &nbsp;{{confirmado.Nome}}</span> <em>{{confirmado.Email}}</em>
                        </p>
                    </div>
                </div>
            </ul>
        </section>
    </div>
</div>

<div class="section product-header">
    <div class="container">
        <div class="columns">
            <div class="column">
                <span class="title is-3">{{anuncioEspecifico.Titulo}}</span>
                <span class="title is-3 has-text-muted">&nbsp;|&nbsp;</span>
                <span class="title is-4 has-text-muted"> Evento </span> 
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <div>
                    <img ng-if="anuncioEspecifico.Foto1 != null" class="imagemProduto" style="max-height:430px;width:512px;" src="{{anuncioEspecifico.Foto1}}">


                    <img ng-if="anuncioEspecifico.Foto2 != null" class="imagemProduto" style="max-height:256px;max-width:256px;" src="{{anuncioEspecifico.Foto2}}">


                    <img ng-if="anuncioEspecifico.Foto3 != null"class="imagemProduto" style="max-height:256px;max-width:256px;" src="{{anuncioEspecifico.Foto3}}">
                </div>

            </div>
            <div class="column is-5 is-offset-1">
                <div ng-if="idUsuarioLogado == anuncioEspecifico.IdUsuario" class="title is-2"><a class="button is-primary is-large" href="#!/editarEvento/{{anuncioEspecifico.Id}}">Editar seu Evento</a></div>
                <div class="title is-2">{{anuncioEspecifico.Titulo}}&nbsp; &nbsp;
                </div>
                <div class="title is-2"> Data de Realização:{{anuncioEspecifico.DataRealizacao | date:'short'}}</div>
                <div class="title is-2"> Local: {{anuncioEspecifico.Local}}</div>
                <p class="title is-3 has-text-muted">Ingresso: R$ {{anuncioEspecifico.ValorPorPessoa}}</p>
                <div ng-bind-html="anuncioEspecifico.Descricao | markdown">

                </div>
                <br>
                <br>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="has-text-right">
                                <strong>Organizador</strong>
                            </td>
                            <td>{{anuncioEspecifico.NomeCriador}}</td>
                        </tr>
                        <tr>
                            <td class="has-text-right">
                                <strong>Confirmados</strong>
                            </td>
                            <td>{{anuncioEspecifico.Confirmados.length || 0}}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="">
                    &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                    <a class="button is-primary is-small" ng-click="confirmarPresenca()" ng-if="!estaConfirmado && idUsuarioLogado != anuncioEspecifico.IdUsuario"> <i class="fa fa-thumbs-up interessado"> &nbsp; &nbsp;</i> Participar</a>
                    <a class="button is-warning is-small" ng-click="retirarPresenca()" ng-if="estaConfirmado && idUsuarioLogado != anuncioEspecifico.IdUsuario"> <i class="fa fa-thumbs-down interessado"> &nbsp; &nbsp;</i> Não ir</a>
                    <a class="button is-success is-small" ng-click="exibirAModal()"> <i class="fa fa-plus interessado"> &nbsp; &nbsp;</i> Confirmados</a>
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="tabs">
            <ul>
                <li><a>Comentários</a></li>
            </ul>
        </div>
        <div  class="box">
            <article ng-repeat="comentario in anuncioEspecifico.Comentarios" class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{comentario.UsuarioNome}}</strong> <small>{{comentario.UsuarioEmail}}</small>
                            <br>
                        </p>
                        <div ng-bind-html="comentario.Texto | markdown">

                        </div>


                    </div>
                </div>
            </article>
        </div>
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea" ng-model="produto.Comentario" placeholder="Adicionar um comentário"> 
                            </textarea>
                        </p>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <a class="button is-info" ng-click="postar(produto.Comentario)" ng-disabled="produto.Comentario == null || produto.Comentario == ''">Comentar</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
</div>
