<div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column  corrigirAltura is-10 is-offset-1">
                    <div class="control columns">
                        <div class="column">
                            <label class="label">Título do Evento</label>
                            <input class="input column" ng-model="anuncioEspecifico.Titulo" type="text" placeholder="Churras do Nunes">
                            <span style="color:red;" ng-if="anuncioEspecifico.Titulo == null || anuncioEspecifico.Titulo == ''"> Campo obrigatório.</span>
                        </div>
                        <div class="column">
                            <label class="label"> &nbsp; Valor Do Ingresso(em reais)</label>
                            <input class="input column" ng-model="anuncioEspecifico.ValorPorPessoa" type="number">
                        </div>
                    </div>
                    <div class="control columns">
                        <div class="column">
                            <label class="label">Data em que ocorre o Evento</label>
                            <input class="input column" ng-model="anuncioEspecifico.DataRealizacao" type="date" placeholder="Churras do Nunes">
                            <span style="color:red;" ng-if="anuncioEspecifico.DataRealizacao == null"> Campo obrigatório.</span>
                        </div>
                        <div class="column">
                            <label class="label">Data máxima de confirmação no Evento</label>
                            <input class="input column" ng-model="anuncioEspecifico.DataMaximaConfirmacao" type="date" placeholder="Churras do Nunes">
                        </div>
                    </div>
                    <div class="control columns">
                        <div class="column">
                            <label class="label">Local do Evento</label>
                            <input class="input column" ng-model="anuncioEspecifico.Local" type="text" placeholder="Churras do Nunes">
                            <span style="color:red;" ng-if="anuncioEspecifico.Local == null || anuncioEspecifico.Local == ''"> Campo obrigatório.</span>
                        </div>
                    </div>
                    <div class="control columns">
                        <label class ="label">Insira até 3 imagens para Divulgação do Evento(opcional): </label> 
                    </div>
                    <div class="control columns">
                        <div class="column">
                            <label class="label">Imagem 1</label>
                            <input class="input" ng-model="anuncioEspecifico.Foto1" type="text" placeholder="Churras do Nunes"> 
                            <img  src="{{anuncioEspecifico.Foto1}}" >
                        </div>
                        <div class="column">
                            <label class="label">Imagem 2</label>
                            <input class="input column" ng-model="anuncioEspecifico.Foto2" type="text" placeholder="Churras do Nunes">
                            <img  src="{{anuncioEspecifico.Foto2}}">
                        </div>
                        <div class="column">
                            <label class="label">Imagem 3</label>
                            <input class="input column" ng-model="anuncioEspecifico.Foto3" type="text" placeholder="Churras do Nunes">
                            <img  src="{{anuncioEspecifico.Foto3}}">
                        </div>
                    </div>
                    <label class="label">Descricao do Evento</label><span style="color:red;" ng-if="anuncioEspecifico.Descricao == null || anuncioEspecifico.Descricao == ''"> Campo obrigatório.</span>
                    <p class="control">
                        <textarea class="input" style="height:45vh;" ng-model="anuncioEspecifico.Descricao" type="textarea">
                        </textarea>
                    </p>
                    <p class="control">
                        <button class="button is-primary" ng-disabled="anuncioEspecifico.Titulo == null || anuncioEspecifico.Titulo == ''  || 
                        anuncioEspecifico.Descricao == null || anuncioEspecifico.Descricao == '' || anuncioEspecifico.Local == null || anuncioEspecifico.Local == '' || anuncioEspecifico.DataRealizacao == null" ng-click="editarEvento(anuncioEspecifico)">Editar Evento.</button>
                        <a href="#!/feed"><button class="button is-primary">Voltar para o Feed</button></a>
                    </p>
                </div>
            </div>
        </div>
    </div>