<div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column  corrigirAltura is-10 is-offset-1">
                    <div class="control columns">
                        <div class="column">
                            <label class="label">Nome do Produto</label>
                            <input class="input column" ng-model="anuncioEspecifico.Titulo" type="text" placeholder="Churras do Nunes">
                            <span style="color:red;" ng-if="anuncioEspecifico.Titulo == null || anuncioEspecifico.Titulo == ''"> Campo obrigatório.</span>
                        </div>
                        <div class="column">
                            <label class="label"> &nbsp; Valor Do Produto(em reais)</label>
                            <input class="input column" ng-model="anuncioEspecifico.Valor" type="number">
                            <span style="color:red;" ng-if="anuncioEspecifico.Valor == null || anuncioEspecifico.Valor < 5"> Campo obrigatório, minimo de 5 reais.</span>
                        </div>
                    </div>
                    <div class="control columns">
                        <label class ="label">Insira até 3 imagens do Produto(opcional): </label> 
                    </div>
                    <div class="control columns">
                        <div class="column">
                            <label class="label">Imagem 1</label>
                            <input class="input" ng-model="anuncioEspecifico.Foto1" type="text" placeholder="Churras do Nunes"> 
                            <img  src="{{anuncioEspecifico.Foto1}}" >
                        </div>
                        <div class="column">
                            <label class="label">Imagem 2</label>
                            <input class="input column" ng-model="anuncioEspecifico.Foto2" type="text" placeholder="Churras do Nunes">
                            <img  src="{{anuncioEspecifico.Foto2}}">
                        </div>
                        <div class="column">
                            <label class="label">Imagem 3</label>
                            <input class="input column" ng-model="anuncioEspecifico.Foto3" type="text" placeholder="Churras do Nunes">
                            <img  src="{{anuncioEspecifico.Foto3}}">
                        </div>
                    </div>
                    <label class="label">Descricao do Produto</label><span style="color:red;" ng-if="anuncioEspecifico.Descricao == null || anuncioEspecifico.Descricao == ''"> Campo obrigatório.</span>
                    <p class="control">
                        <textarea class="input" style="height:45vh;" ng-model="anuncioEspecifico.Descricao" type="textarea">
                        </textarea>
                    </p>
                    <p class="control">
                        <button class="button is-primary is-small" ng-disabled="anuncioEspecifico.Titulo == null || anuncioEspecifico.Valor == null || anuncioEspecifico.Valor < 5 || anuncioEspecifico.Descricao == null || anuncioEspecifico.Descricao == ''" ng-click="editarProduto(anuncioEspecifico)">Editar Produto.</button>
                        <a href="#!/feed"><button class="button is-primary is-small">Voltar para o Feed</button></a>
                    </p>
                </div>
            </div>
        </div>
    </div>