<div class="container">
    <div class="nav-left">
        <a class="nav-item is-tab" ng-class="{'is-active':isFeed}" href="#!/feed"><i class="fa fa-home"></i><span class="hidden-xs"> &nbsp;Feed</span></a>
         <a class="nav-item is-tab" ng-class="{'is-active':isMyAds}" ng-click="carregarMeusAds()"><i class="fa fa-envelope-open"></i><span > &nbsp;My Ads</span></a>
        <a class="nav-item is-tab" href="#!/configs"><i class="fa fa-cogs"></i><span class="hidden-xs"> &nbsp;Configurações</span></a>
        <a class="nav-item is-tab" ng-click="logout()"> &nbsp; <i class="fa fa-hand-peace-o"></i> &nbsp;Sair</a>
    </div>
</div>